body {
    background-image: url("../images/img1.jpg");
}
header {
    font-family: tahoma;
    background-color: #1a252f;
    color: #fff;
    padding: 15px 0;
    opacity: 0.8;
}

.mrgcontent {
    margin-top: 20px;

}
.btn-mrgn {
    margin-top: 18px;
}
.content {
    background-color: lightblue;
    padding-top: 20px
}
.marginpanel {
    margin-top: 30px;
}
.marginright {
    margin-right: 15px;
}
input[type=number], input[type=text] {
    height: 32px;
    background-color: orange;
    color: white;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    border-color: orange;
}
